@import "https://fonts.googleapis.com/css?family=Raleway:400";
@import "https://fonts.googleapis.com/css?family=Cardo";
@import "https://fonts.googleapis.com/css?family=Lato";
@import "fontawesome/font-awesome";
// colores
$color-black: #000;
$color-white: #FFF;
$color-1: #911f2a;
$color-2: #d0bc26;
$color-gray-1: #f7f7f7;
$color-gray-2: #979797;
$color-gray-3: #292828;
$color-gray-4: #403f3f;
$color-text-content: #979797;
// links, botones
$link: #911f2a;
$link-active: #911f2a;
// fonts
$font-titles: 'Cardo', serif;
$font-contents: 'Raleway', sans-serif;
$font-aux: 'Lato', sans-serif;
// wireframe
* {
  // outline: 1px solid $color-1;
}
// settings generales
body {
  font-family: $font-contents;
  font-size: 18px;
  div {
    height: 100%;
  }
  p, div,span, article, section {
    font-family: $font-contents;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 2.8px;
    color: $color-text-content
  }
  h1,h2,h3,h4,h5,h6 {
    font-family: $font-titles;
  }
  section {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  a {//links
    display: block;
    height: auto;
    width: auto;
    font-family: $font-contents;
    color: $color-white;
    width: auto;
  }
  input, textarea, select {
    width: 100% !important;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    color: $color-gray-2;
    background-color: $color-white;
    font-family: $font-contents;
    font-size: 14px;
    border: none;
    padding: 4px 8px;
    border-radius: 3px;
  }
  #main {
    padding: 0;
  }
  .button, .wpcf7-submit{
    display: inline !important;
    color: $color-white;
    background-color: $color-1;
    text-decoration: none;
    width: auto;
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 3px;
    font-weight: bold;
    &:hover, .wpcf7-submit:hover{
      border: 1px solid $color-gray-4;
      color: $color-gray-4;
      background-color: $color-white;
    }
  }
  .wpcf7-submit{
    padding: 12px 20px;
  }
  .button {
    padding: 16px 70px;
  }
}// body
::placeholder {
  color: $color-gray-1 !important;
  opacity:1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $color-gray-1 !important;
}

::-o-input-placeholder { /* Microsoft Edge */
  color: $color-gray-1 !important;
}
//
// Menu
#header {
  // overflow: hidden;
  height: auto;
  box-shadow: 1px 1px 2px $color-gray-2;
  .top-header {
    background-color: $color-gray-1;
    min-height: 32px;
    width: 100%;
    margin-left: 0;
    a {
      text-align: center;
      display: inline;
      font-family: $font-contents;
      font-size: 1rem;
      color: $color-gray-3;
      text-decoration: none;
      letter-spacing: 1.5px;
      &:hover {
        color: $color-1;
      }
    }
  }
  #menu {
    transition: 1s;
    // estilos para fixed aplicado por js
    top: 0;
    z-index: 100000;
    width: 100%;
    background-color: $color-white;
    left: 0;
    // overflow-x: hidden;
    //
    height:100px;
    padding: 0;
    box-shadow: -2px 1px 3px $color-gray-2;
    .navbar-toggler {
      padding: 1.25rem 1.75rem;
      margin-right: 16px;
      color: $color-1;
      border: none;
      &:hover{
        color: $color-2;
        border-color: $color-2;
      }
    }
    #header-logo {
      height: 100%;
    }
    #header-logo-mobile {
      height: 100%;
    }
    #navbarSupportedContent {
      background-color: $color-white;
      z-index: 10000;
      padding: 0;
      height: auto;
      // box-shadow: 2px 2px 4px $color-gray-3;
      width: 100%;
      // display: none;
      .menu-mobile-container {
        padding: 16px;
        width: 100%;
        display: flex;
        justify-content: right;
        align-items: center;
        #menu-mobile {
          padding-left: 0;
          padding-right: 0;
          margin: 0 auto 0 0;
          display: inline;
          .current_page_item {
            font-weight: bolder;
            a {
              color: $color-1 !important;
            }
          }
          .current-menu-ancestor {
            a {
              color: $color-gray-4;
              &:hover {
                color: $color-1!important;
              }
            }
          }
          .menu-item {
            display: flex;
            width: auto;
            position: relative;
            border-radius: 3px;
            margin-right: 8px;
            a {
              color: $color-gray-4;
              font-family: $font-titles;
              font-size: 16px;
              padding: 4px 16px;
              margin-bottom: 4px;
              text-decoration: none;
              &:hover {
                color: $color-1;
              }
            }
            .sub-menu {
              // distintos estilos de menu mobil
              display: inline;
              // display: flex;
              // display: block;
              //
              opacity: 1;
              position: relative;
              min-width: 200px;
              background-color: $color-white !important;
              padding: 16px 0 0 0;
              li {
                a {
                  color: $color-gray-4 !important;
                  font-size: 11px;
                }
              }
              .menu-item-object-asesorias-cpt {
                a {
                  color: $color-gray-4;
                  &:hover {
                    color: $color-1 !important;
                  }
                }
              }
              .current_page_item,
              .current-menu-ancestor {
                // background-color: $color-1;
                a {
                  color: $color-black;
                }
              }
            }
          }
          // #menu-item-80:hover {
          //   .sub-menu {
          //     display: block;
          //     opacity:1;
          //     top: 46px;
          //     padding: 32px 0 0 0;
          //   }
          // }
        }
      }
    }
    #navbarDesktop {
      background-color: $color-white;
      z-index: 10000;
      padding: 0;
      .menu-desktop-container {
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: right;
        align-items: center;
        padding-right: 16px;
        #menu-desktop {
          padding-left: 0;
          padding-right: 0;
          margin: 0 0 0 auto;
          display: flex;
          .current_page_item {
            background-color: $color-1;
            a {
              color: $color-white !important;
            }
          }
          .current-menu-ancestor {
            a {
              color: $color-gray-4;
              &:hover {
                color: $color-white !important;
              }
            }
          }
          .menu-item {
            display: flex;
            width: auto;
            position: relative;
            border-radius: 3px;
            margin-right: 8px;
            a {
              border-radius: 3px;
              color: $color-gray-3;
              font-family: $font-titles;
              font-size: 1.1rem;
              padding: 8px 32px;
              text-decoration: none;
              &:hover {
                background-color: $color-1;
                color: $color-white;
              }
            }
            .sub-menu {
              transition: 0.75s;
              display: none;
              opacity:0;
              position: absolute;
              min-width: 331px;
              background-color: $color-white !important;
              padding: 24px 8px 8px 8px !important;
              li {
                a {
                  color: $color-black !important;
                }
              }
              .menu-item-object-asesorias-cpt {
                a {
                  color: $color-black;
                  &:hover {
                    color: $color-white !important;
                  }
                }
              }
              .current_page_item,
              .current-menu-ancestor {
                background-color: $color-1;
                a {
                  color: $color-white;
                }
              }
            }
          }
          #menu-item-55:hover {
            .sub-menu {
              transition: 0.75s;
              display: block;
              opacity:1;
              top: 46px;
              padding: 32px 0 0 0;
            }
          }
        }
      }
    }
  }
  .navbar {
    padding: 0 1rem;
    .navbar-brand {
      display: inline-block;
      display: grid;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      margin: 0;
    }
  }
}

//
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(145,31,42,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
//
// Home Slider
#home-form {
  position: absolute;
  right: 0;
  z-index: 1000;
  h4 {
    color: $color-white;
    font-size: 1.5rem;
  }
  textarea {
    height: 171px;
  }
}//
#home-form-mobile-wrap {
  #home-form-mobile {
    right: 0;
    z-index: 1000;
    h4 {
      color: $color-gray-4;
      font-size: 1.5rem;
    }
    input,textarea {
      background-color: $color-gray-1;
      color: $color-gray-4;
      border: 1px solid $color-gray-2;
    }
    textarea {
      height: 150px;
    }
    input.wpcf7-submit {
      background-color: $color-1;
      color: $color-white;
      border: 0px;
      &:hover {
        background-color: $color-white;
        color: $color-gray-4;
        border: 1px solid $color-gray-4;
      }
    }
  }//
}
#home-slider {
  height: 100vh;
  padding: 0;
  position: relative;
  .home-slide {
    height: 100%;
    .home-slide-text {
      // height: auto;
      h1 {
        color: $color-white;
        padding: 4px 0px;
        font-size: 3.3rem;
      }
      h5 {
        font-family: $font-contents;
        color: $color-white;
        padding: 4px 0px 32px;
      }
    }
  }
  .slick-dots {
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    transform: translateY(-50px);
  }
}//fin home slider
//
#inicio-quien {
  h1,h2,h3,h4,h5,h6 {
    color: $color-1;
  }
  .inicio-quien-boton-wrap {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}
// home Areas
#inicio-areas, #asesorias {
  background-color: $color-gray-1;
  h1,h2,h3,h4,h5,h6 {
    color: $color-black;
  }
  .areas-item {
    padding: 16px;
    .areas-image {
      min-height: 240px;
    }
    .areas-title {
      padding: 16px 0;
    }
    .areas-title {
      color: $color-black;
      a {
        color: $color-1;
        font-size: 16px;
        &:hover {
          text-decoration: none;
          color: $color-gray-2;
        }
      }
    }
  }
} //fin inicio areas
//
// Page
#page-header {
  h1,h2,h3,h4,h5,h6 {
    color: $color-white;
  }
  .page-header {
    height: 332px;
    position: relative;
    .page-header-img {
      // -o-filter: grayscale(100%);
      // -moz-filter: grayscale(100%);
      // -webkit-filter: grayscale(100%);
      // -ms-filter: grayscale(100%);
      // filter: grayscale(100%);
    }
    .page-header-overlay {
      position: absolute;
      // background-color: black;
      background-image: linear-gradient(to top, #403f3f, transparent);
      // opacity: 0.25;
      bottom: 0;
      height: 50%;
      width: 100%;
    }
    .page-header-title {
      height:100%;
      position: absolute;
      top: 0;
      left: 0;
      h1 {
        font-size: 60px !important;
      }
    }
  }
}
#page-content {
  h1,h2,h3,h4,h5,h6 {
    color: $color-1;
    text-align: center;
  }
}
//
// inicio abogados-cpt
#inicio-abogados {
  div {height: auto;}
  h2 {
    color: $color-black;
    margin-bottom: 32px;
  }
  .abogados-item {
    min-height: 445px;
    margin: 0 auto 32px!important;
    .abogado-card {
      border: solid 1px $color-gray-2;
      h1,h2,h3,h4,h5,h6 {
        color: $color-black;
      }
      .inicio-abogado-header {
        height: 144px;
        .inicio-abogado-header-image {
          height: 100%;
        }
      }
      .inicio-abogado-content {
        height: 295px;
        .abogado-image {
          height: 111px;
          width: 111px;
          margin: 0 auto;
          transform: translateY(-60px);
          -ms-transform: translateY(-60px);
          -moz-transform: translateY(-60px);
          -webkit-transform: translateY(-60px);
          -o-transform: translateY(-60px);
        }
        .abogado-title {
          p {
            font-family: $font-aux;
            color: $color-gray-4;
            font-size: 22px;
          }
        }
        p.abogado-position {
          font-family: $font-aux;
          font-size: 18px;
        }
        p.abogado-type {

          font-family: $font-aux;
          font-size: 16px;
          color: $color-gray-4;

        }
        a.abogado-envelope {
          float: right;
          font-size: 26px;
          color: $color-2;
          position: absolute;
          right: 16px;
          bottom: 16px;
          &:hover {
            color: $color-1;
          }
        }
      }
    }
  }
}
// footer
footer {
  .footer-top {
    padding: 16px 0;
    background-color: $color-gray-3;
    p {
      color: $color-white;
      a {
        max-width: 160px;
        display: inline;
        &:hover {
          color: $color-1;
          text-decoration: none;
        }
      }
    }
  }
  .footer-bottom {
    padding: 8px 0;
    p {
      font-family: $font-aux;
      margin: 0;
      font-size: 16px;
      .fa-copyright {
        color: $color-1;
      }
      #year {
        color: $color-1;
        font-family: $font-titles;
      }
    }
  }
}
//
// contacto
#contact-content {
  h1,h2,h3,h4,h5,h6 {
    color: $color-1;
    margin-bottom: 16px;
  }
  .contact-link {
    color: $color-gray-2;
    text-decoration: none;
    &:hover {
      color: $color-1;
    }
  }
  input, textarea {
    background-color: $color-gray-1;
    border: 1px solid $color-gray-2;
    margin-bottom: 16px;
  }
  textarea {
    height: 186px;
  }
  input.wpcf7-submit {
    background-color: $color-1;
    color: $color-white;
    border: 0px;
    &:hover {
      background-color: $color-white;
      color: $color-gray-4;
      border: 1px solid $color-gray-4;
    }
  }
  .contact-paragraph {
    margin-bottom: 32px;
  }
  .contact-content {
    .contact-form {
      padding-right: 48px;
      padding-left: 48px;
      div.wpcf7-response-output {
        margin: 0.5em 0.5em 0.5em !important;
      }
    }
    .contact-block {
      margin-bottom: 32px;
    }
  }
}
//
// single
#single-asesorias {
  .asesorias-imagen {
    height: 85vh;
  }
}
//
// generales
.ha {
  height: auto;
}
.no-padding {
  padding: 0;
}
// media queries
@media screen and (max-width: 992px) {
  #home-slider .home-slide .home-slide-text h1 {
    font-size: 2.75rem;
  }
}
@media screen and (max-width: 576px) {
  body .button {
    padding: 16px 45px;
  }
  #home-slider .home-slide .home-slide-text h1 {
    font-size: 1.75rem;
  }
}
